{% extends 'auxiliar/base.html'%} {% load static %} {% block title %} Arena
eSports | Classificação{% endblock%} {% block body %}
<main id="main" class="main">
  <section class="section col-xxl-4 col-xl-12">
    <div class="card col-xxl-12">
      <div class="card-body">
        <h5 class="card-titl p-4">Classificação</h5>
        <div id="conteudo" class="">
          <div id="topo">
            Temporada<br /><span id="ano">{{ ano }} &nbsp;</span>
          </div>
          <div id="linha"></div>
          <div id="tabela" class="col-12 w-100 collapse1">
            <table class="w-100 table">
              <thead>
                <tr>
                  <th></th>
                  <th>Posição</th>
                  <th>Usuário</th>
                  <th>P</th>
                  <th>J</th>
                  <th>V</th>
                  <th>E</th>
                  <th>D</th>
                  <th>GP</th>
                  <th>GC</th>
                  <th>SG</th>
                </tr>
              </thead>
              <tbody>
                {% for time in classificacao %}
                <tr>
                  <td class="borda-azul"></td>
                  <td>{{ forloop.counter }} </td>
                  <td class="d-flex justify-content-cente "><img src="{{ time.usuario.usuario.emblema_time }}" alt="" class="mr-2" width="20" height="20"> {{ time.usuario }}</td>
                  <td>{{ time.pontos }}</td>
                  <td>{{ time.jogos }}</td>
                  <td>{{ time.vitoria }}</td>
                  <td>{{ time.empate }}</td>
                  <td>{{ time.derrota }}</td>
                  <td>{{ time.gols_pro }}</td>
                  <td>{{ time.gols_contra }}</td>
                  <td>{{ time.saldo_gols }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{% endblock %}
