{% extends 'auxiliar/base.html'%} {% load static %} {% block title %} Arena
eSports | Salvar Jogos {% endblock%} {% block body %} {% load crispy_forms_tags %}
<main id="main" class="main">
  <section class="section col-xxl-4 col-xl-12">
    <div class="card col-xxl-12">
      <div class="card-body">
        <h3 class="title p-3" id="rodada">
          Salvar Jogos:
        </h3>
        <h2 class="my-4">Inserir Resultado do Jogo</h2>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info mt-2" role="alert">
          <span{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
        </div>
        {% endfor %}

        {% endif %}
        <form method="POST" class="mb-4" action="{% url 'salvar_jogos' %}">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6">
              {{ form.time_casa|as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
              {{ form.time_visitante|as_crispy_field }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              {{ form.placar_casa|as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
              {{ form.placar_visitante|as_crispy_field }}
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Comentário:</label>
            <div class="col-sm-10">
              <textarea class="form-control" style="height: 100px" placeholder="Deixe seu comentário sobre o jogo..."
                name="comentario"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

        <!-- === Fim da sessão de apostas ==== -->
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{% endblock %}
