{% load static %}
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'homepage'%}" class="logo d-flex align-items-center">
        <!-- <img src="{% static 'img/logo-arena2.jpeg'%}" alt="" class="w-100 " style="height:300px !important;"> -->
        <span class="d-none d-lg-block">Arena e-Sports <span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-4">
            {% if user.is_authenticated %}
            <span class="card-title">Bem vindo(a), {{user.get_username}}</span>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary" role="button" style="color: #FFF;">Login</a>
          {% endif %}
        </li><!-- End Profile Nav -->
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
