{% load static %}
<article class="patrocinadores">
    <h2>Apoio</h2>
    <div class="img-patrocinadores">
        <a href="https://hiagospencer.github.io/portfolio/" target="_blank">
            <img src="{% static 'images/imagens/logo-hiago.jpeg' %}" alt="" />
        </a>
    </div>
    <!--img-patrocinadores-->
    <div class="img-patrocinadores">
        <a href="https://www.instagram.com/spacegames_imports/" target="_blank">
            <img src="{% static 'images/imagens/logo-space-games.jpg' %}" alt="" />
        </a>
    </div>
    <!--img-patrocinadores-->

    <div class="img-patrocinadores">
        <a href="https://www.agilitytelecom.com.br/" target="_blank">
            <img src="{% static '3images/imagens/logo-agility.jpg' %}" alt="" />
        </a>
    </div>
    <!--img-patrocinadores-->
</article>
<!--patrocinadores-->
